.list {
  max-width: 100%;
  margin: 50px auto 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 350px;
  overflow-y: auto;
  
}

.list th{
  color: #4d4d4d;
  
}

.list td {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
  height: 20px;
}

.list .especie {
  text-transform: capitalize;
}

.list .number {
  width: 100px;
}

.list tr:nth-child(even) {
  background-color: #f3f3f5;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2px;
}

.options a{
  display: flex;
  align-items: center;
  justify-content: center;

}

.options button, .options a {
  height: 30px;
  border: none;
  cursor: pointer;
}

.list tr:nth-child(odd) button {
  background-color: #fff;
}

.options button:hover,
 a:hover,
.list tr:nth-child(odd) button:hover{
  background-color: #e4e4e6;
}
