@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
  
}



.title{
  color: rgb(63, 62, 62);
  font-size: 1.5rem;
  max-width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px auto;
 
}


input, select{
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 0px 20px;
    font-size: 1rem;
}

input:focus, select:focus{
    outline:none!important;
    border: 2px solid #000000; 
}

select{
    background: #fff;
}

.btn, button.linkBtn{
    height: 35px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.5s ease-in;
}

.btn.btn1{
    color: #fff;
    background:  linear-gradient(170.02deg, rgba(255, 255, 255, 0.2) 7.41%, rgba(255, 255, 255, 0) 66.95%), #1D1D1D;

}

button.linkBtn{
    background-color: rgb(235, 235, 235);
}


.btn.btn1:hover,  button.linkBtn:hover {
    opacity: 1;
    border: 1px solid;
}


